<!DOCTYPE html>
<html>
<head>
  <title>情侣世界</title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="stylesheet" href="/styles/normalize.css"/>
  <link rel="stylesheet" href="/styles/common.css"/>
</head>
<body>
    <div style="margin: 0;display: none">
      <img src="http://7tszl1.com1.z0.glb.clouddn.com/Users/zyg/Documents/burnlovers/uploadDir/1511110052/logo.jpg" alt="logo"/>
    </div>

    <audio id="audio" src="http://7tszl1.com1.z0.glb.clouddn.com/Contra.mp3">
    </audio>
</body>
<script>
  var resourcePosition = '<%= position%>';
</script>
<script src="/js/bower_components/pixi.js/bin/pixi.min.js"></script>

<% if(env==='product'){%>
<script src="/js/dist/index.js"></script>
<% }else{ %>
<script src="http://localhost:7301/public/js/dist/index.js"></script>
<% } %>
</html>
