body{
    /*background-image: url(/assets/background/background_street2.png);*/
    /*-webkit-background-size: cover;*/
    /*background-size: cover;*/
    width: 100vw;
    height: 100vh;
}

canvas {
    width: 100%;
    height: 100%;
}